<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zombie Nest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo">Zombie Nest</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if (currentZombie){ %>
                    <li><a href="/edit">Hola, <%= currentZombie.name()%></a></li>
                    <li><a href="/re-weapons">Registrar arma</a></li>
                    <li><a href="/weapons">Armas Registradas</a></li>
                    <li><a href="/logout">Salir</a></li>
                    <li><a <%= currentZombie.rol()%></a></li>
                <% }else {%>  
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Registro</a></li>
                <%}%>
            </ul>
        </div>
    </nav>
<div class="container">
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger" role="alert">
    <%= error %>
        </div>
    <% }) %>
    <% infos.forEach(function(info) { %>
        <div class= "alert alert-info" role="alert">
    <%  info %>
        </div>
    <% }) %>
    
