<% include _header%>
<br>
    <div class="panel panel-default" id="container">
        <div class="panel-heading" id="container">
            <spam><h1><%= zombie.name() %></h1></spam>
        </div>

<%if(zombie.bio){%>
        <div class="panel-body"><%= zombie.bio %></div>
<%}%>
    </div>
<label><h4>Se registró el <%=zombie.createdAt%></h4></label>

    <% if((currentZombie)&&(currentZombie.id === zombie.id)){%>
        <a href="/edit" class="pull-right btn btn-small btn-default ">Edita tu perfil</a>
    <%}%>
<% include _footer%>