<% include _header%>

<h1>Registro</h1>

<form action = "/re-weapons" method="post">
    <div class ="form-group">
        <input name="description" type="text" class="form-control"
        placeholder="Descripción" required autofocus/>
    </div>
    <div class="form-group">
        <input name="force" type="text" class="form-control"
        placeholder="Fuerza" required/>
    </div>
    <div class ="form-group">
        <input name="category" type="text" class="form-control"
        placeholder="Categoria" required autofocus/>
    </div>

    
    <label  class="col-form-label">Municion</label>
    <div class="btt-radio_role">
        <p><label for="exampleRadios1">
                <input name="ammo" id="exampleRadios1" value="true" type="radio"/>
                <span>Municion</span>
        </label></p>
        <p><label for="exampleRadios2">
                <input name="ammo" id="exampleRadios2"  value="false" type="radio"/>
                <span>Sin Municion</span>
        </label></p>
    </div>

</div>
    <input style="width: 150px; margin-left:10%;" type="submit" value="Registrarse" class="btn btn-primary btn-block"/>
    
</form>

<% include _footer%>