<% include _header%>

<h1>Registro</h1>

<form action = "/signup" method="post">
    <div class ="form-group">
        <input name="username" type="text" class="form-control"
        placeholder="Nombre de usuario" required autofocus/>
    </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control"
        placeholder="Contraseña" required/>
    </div>
    <div class="btt-radio_role">
        <p><label>
                <input name="role" value="zombie-king" type="radio"/>
                <span>Zombie - King</span>
        </label></p>
        <p><label>
                <input name="role" value="zombie-queen" type="radio"/>
                <span>Zombie - Queen</span>
        </label></p>
        <p><label>
                <input name="role" value="zombie-boss" type="radio"/>
                <span>Zombie - boss</span>
        </label></p>
        <p><label>
                <input name="role" value="zombie" type="radio"/>
                <span>Zombie - normal</span>
        </label></p>
    </div>

    <input type="submit" value="Registrarse"
     class="btn btn-primary btn-block"/>
    
</form>

<% include _footer%>