<html>
    <head>
        <meta charset="UTF-8">
        <title>Express-libro de visitas</title>
        <link rel="stylesheet"
        href="">
    </head>
    <body class="container">
        <h1>
            Libro de visitas express
            <a href="/new_entry" class="btn btn-primary pull right">
                escribe en el libro de visitas
            </a>
        </h1>