<% include header %>
<% if(entries.length) {%>
    <% entries.forEach((entry)=>{%>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-right">
                    <%= entry.created %>
                </div>
                <%= entry.title %>
            </div>
            <div class="panel-body">
                <%= entry.body%>
            </div>
        </div>
    <% })%>
<% }else{ %>
    <p>No hay vistas todavia!<a href="/new_entry">Agregar una!</a></p>
<%}%>
<%include footer%>
