<% include navbar%>
    <div class="pure-g">
        <div class="pure-u-1-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/PVZ_Zombie_suit.png">
            <div class="card-body">
                    <h5 class="card-title">Zombie de caricatura</h5>
                    <p class="card-text">Estos zombies rara vez atacan o hacen daño, normalmente se les ve comiendo dulces</p>
                </div>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/tom2-gotcha-de-zombie-c.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Zombie asesino</h5>
                    <p class="card-text">Estos zombies rmatan por placer, es su hobbie, su diversio, sera mejor que no te acerques a ninguno de estos</p>
                </div>
            </div>
        </div>
        <div class="pure-u-1-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/zombie1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Zombie canival</h5>
                    <p class="card-text">Estos zombies matan a otros zombies, a falta de comida buscan alimentarse de los demas, ayuda a matar zombies</p>
                </div>
            </div>
        </div>
    </div>
<% include footer%>