<% include navbar%>
    <div class="pure-g">
        <div class="pure-u-1-3">HOLA WOLRD</div>
        <div class="pure-u-1-3">HOLA WOLRD</div>
        <div class="pure-u-1-3">HOLA WOLRD</div>
    </div>
<% include footer%>